#Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

#Ambiente
.env

#Jars
jars/
*.jar

#Dados
data/

#Logs
logs/
airflow/logs/
docker/airflow/logs/

#Airflow
airflow.db
airflow.cfg
standalone_admin_password.txt

#dbt
bcb_dbt/target/
bcb_dbt/dbt_packages/
bcb_dbt/logs/

#IDEs
.vscode/
.idea/